// GLOBAL SETTINGS
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

// FONT SETTINGS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed&display=swap");

$defaultFont: "Montserrat", sans-serif;
$headingFont: "Roboto Condensed", sans-serif;
// End of FONT SETTINGS

body {
  color: #fff;
  background-color: #2e2d2d;
  font-family: $defaultFont;
  -ms-overflow-style: none; /* Hides scrollbar IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari and Opera */
}
// End of GLOBAL SETTINGS

// HEADER
header {
  height: 130px;
}
.logo {
  max-width: 70px;
}
h1 {
  margin: 0;
  font-family: $headingFont;
  height: 50%;
  font-size: 40px; //Font Size changed using Media Queries
  letter-spacing: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0.75%;
}
// End of Header

// NAVIGAVTION
#main-nav {
  height: 56px;
  background-color: #2e2d2d;
}
#main-nav li {
  width: 190px;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.nav-link:hover {
  color: #fff;
}

.hover-animation {
  /* Hover Animation Provided by Ian Lunn: 'https://ianlunn.github.io/Hover/' */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #00000000;
  position: relative;
  overflow: hidden;
}
.hover-animation:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffffcc;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-animation:hover:before,
.hover-animation:focus:before,
.hover-animation:active:before {
  left: 0;
  right: 0;
}

.offcanvas {
  --bs-offcanvas-width: 220px !important; // This decreases width of offcanvas size
}
// End of NAVIGATION

// MAIN: PROGRESS REEL
main {
  height: calc(100vh - 183px); // Subtracts Header and Nav height
  scroll-margin-top: 1000px;
  margin-bottom: 56px;
}

.video-container {
  height: 100%;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
}
// End of MAIN: PROGRESS REEL

// PROJECTS SECTION
section {
  //Applies to all sections
  height: 100vh;
  scroll-margin: 56px;
}

h2 {
  font-family: $headingFont;
  font-size: 35px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

.card{
  background-color: #2e2d2d;
}
// End of PROJECTS SECTION

// ABOUT SECTION
.about-content {
  font-size: 20px;
}
.about-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px;
}

.about-link:hover {
  color: #000;
  background-color: #fff;
}
// FOOTER
footer {
  height: 10vh;
  background: #dd193a;
  background: linear-gradient(
    90deg,
    #dd193a 0%,
    #dd193a 16.667%,
    #f99435 16.667%,
    #f99435 33.334%,
    #fef032 33.334%,
    #fef032 50%,
    #00e35e 50%,
    #00e35e 66.667%,
    #0097fb 66.667%,
    #0097fb 83.334%,
    #8564e2 83.334%,
    #8564e2 100%
  );
}
